@font-face {
    font-family: "FontAwesome";
    src: url({fontawesomeWoff});
    font-weight: normal;
    font-style: normal;
}
body > a { display:none !important; }
.hidden {
    display: none;
}
.quiet-mode {
    display: none;
}
body {
    background: #F3F2EE;
    color: #1F0909;
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft YaHei UI", 微软雅黑, 新宋体, 宋体, arial;
}
a { color: #065488; }
a:link { text-decoration: none; }

#mynovelreader-content {
    width: {content_width};
    font-size: {font_size};
    font-family: {font_family};
    line-height: {text_line_height};
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 15px;
}
#mynovelreader-content img{
    max-width: 100%;
}

article {
    margin-top: 55px;
    word-wrap: break-word;
}

article h1 {
    clear: both;
    line-height: 50px;
    font-size: {title_font_size};
    font-weight: normal;
    margin: 25px -20px;
    padding: 0 20px 10px;
    border-bottom: 1px solid rgba(0,0,0,.25);
    font-weight: normal;
    text-transform: none;
}

article li {
    list-style: none;
}

.chapter-footer-nav {
    text-align:center;
    font-size:0.9em;
    margin:-10px 0px 30px 0px;
}
#loading {
    color: white;
    text-align: center;
    font: 12px "微软雅黑", "宋体", "Times New Roman", "Verdana";
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 376px;
    height: 32px;
    line-height: 32px;
    border-radius: 20px;
    border: 1px solid #666;
    background-color: #333;
}
#loading img {
    vertical-align: middle;
}
#loading a {
    color: white;
}
#preferencesBtn{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1597;
}

#alert {
    position: fixed;
    z-index: 100;
    float: auto;
    width: auto;
    height: auto;
    top: 10px;
    left: 500px;
    background: rgba(215, 240, 253, 0.65);
    color: #2d7091;
    border: 1px solid rgba(45,112,145,0.3);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
}
#alert p {
    font-size: 13px;
    margin: 6px;
}

#message {
    position: fixed;
    z-index: 1010;
    width: auto;
    height: auto;
    top: 10px;
    left: 500px;

    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    background: #fff;
    display: inline-block;
    pointer-events: all;

    font-size: 12px;
}
#message .fa-spinner {
    font-size: 13px;
    margin-right: 4px;
}
#message p {
    margin: 0;
}

img.blockImage {clear: both;float: none;display: block;margin-left: auto;margin-right: auto;}

#menu-bar {
    border: solid rgba(0, 100, 255, .9);
    border-width: 3px 2px 3px 0px;
    position: fixed;
    left: 0px;
    top: 40%;
    height: 100px;
    width: 2px;
    z-index: 199;
    {menu-bar-hidden}
}
#menu-bar { 
    top: 0px;
    height: 100%;
    width: 1px;
    background: transparent;
    border: none;
}
#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 270px;
    max-width: 100%;
    background: #333;
    overflow-y: auto;
}
#menu:after {
    content: "";
    display: block;
    position: absolute;
    top: 46px;
    bottom: 0;
    right: 0;
    width: 1px;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
}
#header{
    color: #777;
    margin-top: 0;
    border-top: 1px solid rgba(0,0,0,0.3);
    background: #404040;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    padding: 10px 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
#header a {
    color: #777777;
}
#divider {
    position: relative;
    z-index: 300;
    border-top: 1px solid rgba(255,255,255,0.01);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin: 0;
    height: 4px;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(255,255,255,0.05), inset 0 1px 3px rgba(0,0,0,0.3);
}
#chapter-list {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    margin: 0;
    padding: 0;
    cursor: pointer;
    list-style: none;
    overflow-y: auto;
}
.chapter {
    list-style: none;
}
.chapter:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 0 rgba(255,255,255,0.05);
}
.chapter div {
    color: #ccc;
    font-size: 15px;
    padding: 8px 20px;
    border-top: 1px solid rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    display: block;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.chapter div:before {
    content: "\f105";
    width: 20px;
    margin-left: -10px;
    float: left;
    font-family: "FontAwesome" !important;
    text-align: center;
}
.chapter div:hover {
    background: #404040;
    color: #fff;
    outline: 0;
}
.chapter.active div {
    background: #1a1a1a;
    color: #fff;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}
::-webkit-scrollbar {
    height: 9px !important;
    width: 9px !important;
}
::-webkit-scrollbar-thumb {
    background-color: #7D7D7D !important;
    border-radius: 3px !important;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.25) !important;
}
