.body {
     color:#333;
     margin: 0 auto;
     background: white;
     padding: 10px;
     height: 420px;
     overflow-y: auto;
 }
 #top-buttons {
     background: none repeat scroll 0% 0% rgb(255, 255, 255);
     display: block;
     position: absolute;
     top: -35px;
     border-right: 12px solid rgb(224, 224, 224);
     border-top: 12px solid rgb(224, 224, 224);
     border-left: 12px solid rgb(224, 224, 224);
     text-align: center;
 }
 input {
     font-size: 12px;
     margin-right: 3px;
     vertical-align: middle;
 }
 .form-row {
     overflow: hidden;
     padding: 8px 12px;
     margin-top: 3px;
     font-size: 11px;
 }
 .form-row label {
     padding-right: 10px;
 }
 .form-row input {
     vertical-align: middle;
     margin-top: 0px;
 }
 textarea, .form-row input {
     padding: 2px 4px;
     border: 1px solid #e5e5e5;
     background: #fff;
     border-radius: 4px;
     color: #666;
     -webkit-transition: all linear .2s;
     transition: all linear .2s;
 }
 textarea {
     width: 100%;
     overflow: auto;
     vertical-align: top;
 }
 textarea:focus, input:focus {
     border-color: #99baca;
     outline: 0;
     background: #f5fbfe;
     color: #666;
 }
 .prefs_title {
     font-size: 12px;
     font-weight: bold;
 }
 .prefs_textarea {
     font-size: 12px;
     margin-top: 5px;
     height: 100px;
 }
 .right {
    float: right;
 }